<!doctype html>

<html>
	<head>
	    <title>Page Title</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0">
		<link rel="stylesheet" href="style.css">
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	</head>

	<body>
        <header>
            <div class="topBox">
                <div class="top">
                    <span class="topFlex">
                        <span>Dashboard</span>
                        <span>Shiftplans</span>
                        <span>Positions</span>
                        <span>Employees</span>
                    </span>
                        <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQdXdPRkNjTW5Famc" alt="">
                    <span class="top-select">
                        <select>
                            <option>Bruse Banner</option>
                            <option>Front-end</option>
                        </select>
                    </span>
                </div>
                <div class="logo">
                    <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQOUM2ajJRSkNxN0E" class="logo_img">
                    <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQeFFCeW9hZlJraW8" class="line_img">
                    <h1> Employees</h1>
					<div class="page-wrapper">
				        <span class="plus_icon trigger" href="javascript:;">
				            <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQeHJOb2xLOUYxUFk" alt="">
				        </span>
					</div>
					<div class="modal-wrapper">
				        <div class="modal">
                            <div class="head">
                                <a class="btn-close trigger" href="javascript:;"></a>
                            </div>
					    <div class="content">
                            <h2>membership application form</h2>
                            <div class="namewrapper">
                                <label for="NAME">
                                    <span>name</span>
                                </label>
                                <input id="NAME" type="text" name="NAME">
                            </div>
                            <div class="mailwrapper">
                                <label for="MAIL">
                                    <span>e-mail</span>
                                </label>
                                <input id="MAIL" type="email">
                            </div>
                            <div class="status_form">
                                <h3>status</h3>
                                <select class="status">
                                    <option>active</option>
                                    <option>inactive</option>
                                    <option>delete</option>
                                </select>
                            </div>
                            <span class="submit">submit</span>
					    </div>
					  </div>
					</div>

                </div>
            </div>
        </header>
        <main>
            <div class="search">
                <div class="searchFlex">
                    <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQWUk3azh0RkZUUms" alt="">
                    <input type="text" id="text_search" placeholder="Search">
                </div>
                <form>
                    <select>
                        <option>Filter</option>
                        <option>Front-end</option>
                    </select>
                </form>
                <form>
                    <span>Position: </span>
                    <select>
                        <option>ALL</option>
                        <option>Front-end</option>
                    </select>
                </form>
            </div>
            <section class="info">
                <table>
                    <tr>
                        <th>NAME</th>
                        <th>MAIL</th>
                        <th>STATUS</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td class="tr_profile">
                        <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQcVpVM0xtRUxSQVk" alt=""><span>Alan Scott</span></td>
                        <td>green@lantern.com</td>
                        <td class="tr_dot">
                            <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQMWZpZnFadUlrcUU" alt=""><span>active</span>
                        </td>
                        <td class="tr_icon">
                            <div class="read">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQYWp3a2lTakZGME0" alt="" >
                            </div>
                            <div class="pen">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQdGYxeU91MEJ0M0E" alt="">
                            </div>
                            <div class="delete">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQSEJiX1RDT3A3cXM" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tr_profile">
                            <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQcVpVM0xtRUxSQVk" alt=""><span>Bruse Banner</span></td>
                        <td>hulk@mail.com</td>
                        <td class="tr_dot">
                            <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQMWZpZnFadUlrcUU" alt=""><span>active</span>
                        </td>
                        <td class="tr_icon">
                            <div class="read">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQMmpBak9hMVpiU0E" alt="" >
                            </div>
                            <div class="pen">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQdGYxeU91MEJ0M0E" alt="">
                            </div>
                            <div class="delete">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQSEJiX1RDT3A3cXM" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tr_profile">
                            <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQcVpVM0xtRUxSQVk" alt=""><span>Clark Kent</span></td>
                        <td>clark@kent.com</td>
                        <td class="tr_dot">
                            <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQMWZpZnFadUlrcUU" alt=""><span>active</span>
                        </td>
                        <td class="tr_icon">
                            <div class="read">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQMmpBak9hMVpiU0E" alt="" >
                            </div>
                            <div class="pen">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQdGYxeU91MEJ0M0E" alt="">
                            </div>
                            <div class="delete">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQSEJiX1RDT3A3cXM" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tr_profile">
                            <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQcVpVM0xtRUxSQVk" alt=""><span>Clinton Barton</span></td>
                        <td>clinton@barton.com</td>
                        <td class="tr_dot">
                            <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQMWZpZnFadUlrcUU" alt=""><span>active</span>
                        </td>
                        <td class="tr_icon">
                            <div class="read">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQdkh1U0FWME5TTGs" alt="" >
                            </div>
                            <div class="pen">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQdGYxeU91MEJ0M0E" alt="">
                            </div>
                            <div class="delete">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQSEJiX1RDT3A3cXM" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tr_profile">
                            <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQcVpVM0xtRUxSQVk" alt=""><span>Clark Kent</span></td>
                        <td>clark@kent.com</td>
                        <td class="tr_dot">
                            <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQMWZpZnFadUlrcUU" alt=""><span>active</span>
                        </td>
                        <td class="tr_icon">
                            <div class="read">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQMmpBak9hMVpiU0E" alt="" >
                            </div>
                            <div class="pen">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQdGYxeU91MEJ0M0E" alt="">
                            </div>
                            <div class="delete">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQSEJiX1RDT3A3cXM" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tr_profile">
                            <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQcVpVM0xtRUxSQVk" alt=""><span>Diana Price</span></td>
                        <td>diana@price.com</td>
                        <td class="tr_dot">
                            <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQQ0tlbTFkMEZ2czQ" alt="">
                            <span>inactive</span>
                        </td>
                        <td class="tr_icon">
                            <div class="read">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQYWp3a2lTakZGME0" alt="" >
                            </div>
                            <div class="pen">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQdGYxeU91MEJ0M0E" alt="">
                            </div>
                            <div class="delete">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQSEJiX1RDT3A3cXM" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tr_profile">
                            <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQcVpVM0xtRUxSQVk" alt=""><span>Jay Garrick</span></td>
                        <td>flash@mail.com</td>
                        <td class="tr_dot">
                            <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQMWZpZnFadUlrcUU" alt=""><span>active</span>
                        </td>
                        <td class="tr_icon">
                            <div class="read">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQMmpBak9hMVpiU0E" alt="" >
                            </div>
                            <div class="pen">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQdGYxeU91MEJ0M0E" alt="">
                            </div>
                            <div class="delete">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQSEJiX1RDT3A3cXM" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tr_profile">
                            <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQcVpVM0xtRUxSQVk" alt=""><span>Kara Zor-EI</span></td>
                        <td>kara@zorel.com</td>
                        <td class="tr_dot">
                            <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQMWZpZnFadUlrcUU" alt=""><span>active</span>
                        </td>
                        <td class="tr_icon">
                            <div class="read">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQMmpBak9hMVpiU0E" alt="" >
                            </div>
                            <div class="pen">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQdGYxeU91MEJ0M0E" alt="">
                            </div>
                            <div class="delete">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQSEJiX1RDT3A3cXM" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tr_profile">
                            <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQcVpVM0xtRUxSQVk" alt=""><span>Scott Lang</span></td>
                        <td>antman@mail.com</td>
                        <td class="tr_dot">
                            <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQVE5KX1VHNnQ2R0k" alt="">   <span>delete</span>
                        </td>
                        <td class="tr_icon">
                            <div class="read">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQMmpBak9hMVpiU0E" alt="" >
                            </div>
                            <div class="pen">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQdGYxeU91MEJ0M0E" alt="">
                            </div>
                            <div class="delete">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQSEJiX1RDT3A3cXM" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tr_profile">
                            <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQcVpVM0xtRUxSQVk" alt=""><span>Selina Kyle</span></td>
                        <td>selina@kyle.com</td>
                        <td class="tr_dot">
                            <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQMWZpZnFadUlrcUU" alt=""><span>active</span>
                        </td>
                        <td class="tr_icon">
                            <div class="read">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQYWp3a2lTakZGME0" alt="" >
                            </div>
                            <div class="pen">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQdGYxeU91MEJ0M0E" alt="">
                            </div>
                            <div class="delete">
                                <img src="http://drive.google.com/uc?export=view&id=0B1myX2Ur2lOQSEJiX1RDT3A3cXM" alt="">
                            </div>
                        </td>
                    </tr>
                </table>
            </section>
            <nav>
                <span class="move">prev</span>
                <span class="go">
                    <input id="tab1" type="radio" name="tabs">
                    <label for="tab1"><span>1</span></label>

                    <input id="tab2" type="radio" name="tabs">
                    <label for="tab2"><span>2</span></label>

                    <input id="tab3" type="radio" name="tabs" >
                    <label for="tab3"><span>3</span></label>

                    <input id="tab4" type="radio" name="tabs" checked>
                    <label for="tab4"><span>4</span></label>

                    <input id="tab5" type="radio" name="tabs">
                    <label for="tab5"><span>5</span></label>

                    <input id="tab6" type="radio" name="tabs">
                    <label for="tab6"><span>6</span></label>

                    <input id="tab7" type="radio" name="tabs">
                    <label for="tab7"><span>7</span></label>

                    <input id="tab8" type="radio" name="tabs">
                    <label for="tab8"><span>8</span></label>

                    <input id="tab9" type="radio" name="tabs">
                    <label for="tab9"><span>9</span></label>

                    <input id="tab10" type="radio" name="tabs">
                    <label for="tab10"><span>10</span></label>
                </span>
                <span class="move">next</span>
            </nav>
        </main>
        <script>
            $( document ).ready(function() {
                $('.trigger').click(function() {
                    $('.modal-wrapper').toggleClass('open');
                    $('.page-wrapper').toggleClass('blur');
                    return false;
                });
            });
        </script>
	</body>
</html>
